doctype html
html(lang='en')
  head
    link(href='createmeetings.css', rel='stylesheet', type='text/css')
    title Create Meeting
  body
    form.w3-container
        label Meeting Name
        br
        input.w3-input(type='meetingname')
        br
        label Meeting Date
        br
        input.w3-input(type='meetingdate')
        br
        input(type='submit', value='Create')
